*, *::before, *::after{
    margin: 0
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

.nav{
    width: 100vw;
    height: 5em;
    padding: 0px;
    margin: 0px;
}
#nav{
    width: 70vw;
    height: 2em;
    float: right;
}
.nav{
    background-color:rgb(40, 39, 43);
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    color: white;
}

a:hover{
    animation: nav 1s;
   
}

@keyframes nav{
    0%{  
    }
    100%{
        transform: scale (2.0);
        color: red;
       text-shadow: 2px 1px cornflowerblue;
       font-size: 30px;
       transition: 1s;
    }
}

#HOME{
    width: 100vw;
    height: 100vh;
    display: flex;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2em;
}
.Name{
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

    
.P1{
    width: 40vw;
    height: 80vh;
    padding: 3em 5em 0 3em;
    position: absolute;
}
.P1:hover{
    animation: first 5s infinite ;
}

.img{
    width: 40vw;
    height: 60vh;
}

.P2{
    width: 40vw;
    height: 60vh;
    padding: 3em 5em 0 3em;
}

.socials{
    width: 100vw;
}

@keyframes first{
    0%{
        opacity: 100%;
    }
    25%{
        opacity: 75%%;
    }
    50%%{
        opacity: 50%;
    }
    75%%{
        opacity: 25%;
    }
    100%{
        opacity: 0%;
    }
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.me:hover{
    color: rgb(136, 84, 7);
    text-shadow: 2px 1px rgba(240, 240, 235, 0.925)
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.about{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.Am{
    display: flex;
    flex-direction: row;
    padding-left: 2em;
}

.im{
    width: 40%;
    height: 90vh;
}
.myself{
    width: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.fb{
    width: 90px;
}
.inst{
    width: 55px;
}
